<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="vinho.andre.android.com.gerenciadorvinho">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".view.PrivacyPolicyActivity"
                android:label="@string/title_activity_privacy_policy"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".view.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.configuration.connectiondata.ConnectDataActivity"
                android:label="@string/title_activity_config_connection_data"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.configuration.FilterPreferenceActivity"
                android:label="@string/title_activity_filter_preference"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.configuration.ProfileActivity"
                android:label="@string/title_activity_config_profile"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.ImageActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
                android:name=".view.WineDetailsActivity"
                android:label="@string/title_activity_wine_details"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.WineRegisterActivity"
                android:label="@string/title_activity_wine_register"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.ForgotPasswordActivity"
                android:label="@string/title_activity_forgot_password"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.SignUpActivity"
                android:label="@string/title_activity_sign_up"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".view.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar" />

        <service
                android:name=".util.service.WineSynchronization"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>